:root {
  --bg-color: #fff5f5; /* Lighter pastel pink */
  --secondary-bg-color: #f8f2fc; /* Subtle lavender */
  --tertirary-bg-color: #f4edf9; /* Light lavender */
  --nav-bg-light: #fff5f5; /* Navbar background for light mode */
  --nav-bg-dark: #181a1b; /* Navbar background for dark mode */
  --gradient-bg-color: linear-gradient(135deg, #f8f2fc, #ded4f8);
  --text-color: #333333;
  --secondary-text-color: #666666;
  --primary-color: #9b59b6;
  --secondary-color: #7d5db6;
  --tertiary-color: #dac4e8;
  --button-bg-color: #9b59b6;
  --button-hover-color: #7d5db6;
  --button-text-color: #ffffff;
  --card-bg-color: #ffffff;
  --border-color: #ccc;
  --focus-color: #8a2be2;
  --error-color: #ff6b6b;
  --success-color: #81cfa9;
}

/* Dark Theme */
:root.dark {
  --bg-color: #181a1b;
  --secondary-bg-color: #232526;
  --nav-bg-dark: #181a1b;
  --gradient-bg-color: linear-gradient(135deg, #3c1053, #4e2a84);
  --text-color: #f2f2f2;
  --secondary-text-color: #cccccc;
  --primary-color: #ad88c6;
  --secondary-color: #7469b6;
  --tertiary-color: #e1afd1;
  --button-bg-color: #ad88c6;
  --button-hover-color: #7469b6;
  --button-text-color: #ffffff;
  --card-bg-color: #232526;
  --border-color: #383838;
  --focus-color: #ff4081;
  --error-color: #ff6b6b;
  --success-color: #69f0ae;
}
