/* styles/themes.css */

/* Light Theme */
:root {
    --bg-color: #ffffff;
    --text-color: #1a1a1a;
    --primary-color: #FFD700;
    --secondary-color: #e5e5e5;
  }
  
  /* Dark Theme */
  :root.dark {
    --bg-color: #1a1a1a;
    --text-color: #ffffff;
    --primary-color: #FFC107;
    --secondary-color: #333333;
  }
  